@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline-offset: -1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000000;
}

.body {
  background-color: #e5e5e5;
  font-family: "Lato";
  width: 320px;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .body {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .body {
    min-width: 1440px;
    position: relative;
  }
}

.button {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  width: 100%;
  min-height: 40px;
  padding: 10px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.title-decor {
  width: 100%;
  height: 2px;
  background-color: #68b738;
}

.image {
  max-width: 100%;
  height: auto;
}

.price::after {
  content: " ₽";
}

.logo__image:hover {
  opacity: 0.8;
}

.logo__image:active {
  opacity: 0.6;
}

.logo__text:hover {
  opacity: 0.8;
}

.logo__text:active {
  opacity: 0.6;
}

input:user-invalid {
  border: 2px solid #ff8282;
}

input:focus {
  border: 2px solid #444444;
  border-radius: 0;
}

svg {
  fill: #666666;
}

.social-button svg:hover,
.footer__academy-logo-image:hover svg {
  fill: #68B738;
}

.social-button svg:focus,
.footer__academy-logo-image:focus svg {
  fill: #68B738;
}

.social-button svg:active,
.footer__academy-logo-image:active svg {
  opacity: 0.3;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 362px;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
  display: block;
}

.header-navigation--nojs .header-navigation__toggle {
  display: none;
}

.header-navigation--nojs .header-navigation__list {
  position: static;
  min-height: 0;
}

.header-navigation--nojs .header-navigation__item {
  display: block;
}

.entry {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, rgba(255, 255, 255, 0.85) 302px), url("../img/entry-background.png") no-repeat;
}
@media (min-width: 768px) {
  .entry {
    margin-bottom: 0;
    background: none;
  }
}
@media (min-width: 1200px) {
  .entry {
    display: none;
  }
}
.entry__desktop {
  display: none;
}
@media (min-width: 1200px) {
  .entry__desktop {
    display: flex;
    gap: 116px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -170px;
    z-index: 0;
    padding-left: 160px;
    padding-top: 55px;
    margin-bottom: -82px;
    background: linear-gradient(to right, #ffffff 50%, #68B738 50%);
  }
}
@media (min-width: 1200px) {
  .entry__desktop::before {
    content: "";
    width: 552px;
    height: 499px;
    position: absolute;
    background-image: url("../img/index-can-desktop.png");
    top: 143px;
    right: 331px;
    z-index: 5;
  }
}
.entry__header {
  color: #ffffff;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 27px 20px 2px;
}
@media (min-width: 768px) {
  .entry__header {
    background-color: #ffffff;
    color: #000000;
    padding-left: 90px;
    padding-top: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}
.entry__image-wrapper {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .entry__image-wrapper {
    width: 706px;
    height: 609px;
    order: 4;
    margin-left: -40px;
    margin-top: -60px;
  }
}
@media (min-width: 1200px) {
  .entry__image-wrapper {
    width: 720px;
    height: 694px;
  }
}
.entry__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 25px;
  color: #ffffff;
  z-index: 1;
  position: relative;
}
@media (min-width: 768px) {
  .entry__title {
    color: #000000;
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}
.entry__tagline {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  z-index: 1;
  position: relative;
}
@media (min-width: 768px) {
  .entry__tagline {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
  }
}
.entry__image {
  display: block;
}
@media (min-width: 1200px) {
  .entry__image {
    position: relative;
    opacity: 0.25;
    align-self: flex-end;
  }
}
@media (min-width: 768px) {
  .entry__container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .entry__button {
    margin: 0;
    padding: 14px 26px;
    z-index: 2;
    width: max-content;
  }
}

.header {
  position: relative;
  background-color: #ffffff;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 13px 20px;
}
@media (min-width: 768px) {
  .header__wrapper {
    padding: 25px 30px 65px;
    justify-content: left;
    gap: 13px;
  }
}
@media (min-width: 1200px) {
  .header__wrapper {
    padding: 55px 110px 74px;
    z-index: 1;
  }
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.programs__subtitle-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .programs__subtitle-wrapper {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 768px) {
  .programs__subtitle {
    font-size: 36px;
    line-height: 36px;
  }
}
.programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .programs__list {
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 71px;
  }
}
.programs__item {
  background-color: #f2f2f2;
  padding: 20px;
}
@media (min-width: 768px) {
  .programs__item {
    width: 708px;
    padding: 52px;
  }
}
.programs__text-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .programs__text-wrapper {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    border: none;
  }
}
.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
}
@media (min-width: 768px) {
  .programs__link {
    font-size: 20px;
    line-height: 30px;
    gap: 25px;
  }
}
.programs__link:active {
  opacity: 0.3;
}
.programs__link::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
}
.programs__link::after:hover {
  background-image: url("../img/programs-arrow.svg");
}
.programs__link::after:active {
  opacity: 0.3;
}
.programs__link-wrapper {
  display: inline-block;
}
.programs__image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .programs__image-wrapper {
    display: none;
  }
}
@media (min-width: 1200px) {
  .programs__image-wrapper {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #68b738;
  }
}
.programs__item-wrapper {
  position: relative;
}
.programs__icon-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .programs__icon-wrapper {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}
@media (min-width: 1200px) {
  .programs__icon-wrapper {
    display: none;
  }
}
.programs__icon {
  position: relative;
}
@media (min-width: 768px) {
  .programs__icon-slim {
    object-fit: cover;
    width: 140px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  .programs__icon-slim {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  .programs__icon-pro {
    object-fit: cover;
    width: 268px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  .programs__icon-pro {
    width: 134px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.advantages {
  padding: 20px 20px 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .advantages {
    align-items: flex-start;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 30px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    border: none;
    padding: 0;
  }
}
.advantages__title {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 32px;
  }
}
.advantages__icon {
  position: relative;
  display: inline-block;
  min-width: 60px;
  min-height: 60px;
  background-color: #68b738;
  text-align: center;
  align-content: center;
}
@media (min-width: 768px) {
  .advantages__icon {
    min-width: 80px;
    min-height: 80px;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid: 1fr 1fr/1fr 1fr;
    row-gap: 37px;
    column-gap: 153px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 69px;
    gap: 100px;
    padding: 0 84px;
  }
}
.advantages__item {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 31px;
    max-width: 269px;
    height: 280px;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}
.advantages__text-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .advantages__text-wrapper {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(1) {
    background-image: url("../img/1.png");
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(2) {
    background-image: url("../img/2.png");
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(3) {
    background-image: url("../img/3.png");
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(4) {
    background-image: url("../img/4.png");
  }
}

.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .example {
    padding: 70px 110px 75px;
    background-color: #f2f2f2;
  }
}
.example__title {
  margin-bottom: 40px;
}
.example__text-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
  text-align: justify;
}
@media (min-width: 768px) {
  .example__text-wrapper {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .example__text-wrapper {
    width: 436px;
    margin-bottom: 69px;
  }
}
.example__result-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .example__result-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .example__result-wrapper {
    width: 436px;
    flex-direction: column;
  }
}
.example__list {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 32px;
}
@media (min-width: 1200px) {
  .example__list {
    margin-bottom: 55px;
  }
}
.example__legend {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__legend {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .example__legend {
    flex-direction: row;
    margin: 0;
  }
}
.example__progress {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .example__progress {
    font-size: 30px;
    line-height: 37px;
  }
}
.example__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  width: 77px;
  margin-bottom: -11px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .example__description {
    background-color: #f2f2f2;
  }
}
.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  min-width: 124px;
  width: 100%;
  padding-top: 14px;
}
@media (min-width: 1200px) {
  .example__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 512px;
  }
}

.contacts__container {
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__container {
    padding: 66px 110px;
  }
}
.contacts__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts__logo {
    margin: 0;
  }
}
.contacts__social-list {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .contacts__social-list {
    border: none;
    margin: 0;
    padding: 0;
  }
}
.contacts__social-item {
  display: flex;
  width: 28px;
  height: 22px;
  align-items: center;
  justify-content: center;
}
.contacts__promo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .contacts__promo-wrapper {
    gap: 23px;
  }
}

.header-navigation__wrapper {
  width: 24px;
  display: flex;
}
@media (min-width: 768px) {
  .header-navigation__wrapper {
    width: auto;
    margin-left: auto;
  }
}
.header-navigation__wrapper:focus-within .header-navigation__list {
  visibility: visible;
  left: 0px;
}
.header-navigation__toggle {
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-navigation__toggle {
    display: none;
  }
}
.header-navigation__toggle > span, .header-navigation__toggle > span::before, .header-navigation__toggle > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.header-navigation__toggle > span::before {
  content: "";
  top: -8px;
}
.header-navigation__toggle > span::after {
  content: "";
  top: 8px;
}
.header-navigation__list {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 55px;
  width: 320px;
  height: 100%;
  padding: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .header-navigation__list {
    visibility: visible;
    display: flex;
    width: 100%;
    gap: 33px;
    position: static;
  }
}
.header-navigation__link {
  display: block;
  padding: 22px 24px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .header-navigation__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    border: none;
  }
}
.header-navigation__link:hover {
  opacity: 0.4;
}
.header-navigation__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .header-navigation__link--active {
    padding-bottom: 10px;
    box-shadow: 0 2px #68b738;
  }
}
@media (min-width: 1200px) {
  .header-navigation__link--active-index {
    padding-bottom: 10px;
    box-shadow: 0 2px #ffffff;
  }
}
@media (min-width: 1200px) {
  .header-navigation__link--index {
    padding-bottom: 10px;
    color: #ffffff;
  }
}
.header-navigation__item {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .header-navigation__item {
    background: transparent;
    z-index: 2;
  }
}
.header-navigation__toggle:focus-within > span {
  transform: rotate(45deg);
}
.header-navigation__toggle:focus-within > span::before {
  display: none;
}
.header-navigation__toggle:focus-within > span::after {
  top: 0;
  transform: rotate(90deg);
  visibility: visible;
}

.main-catalog {
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
  padding: 27px 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-catalog {
    min-width: 768px;
    padding: 0 30px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .main-catalog {
    min-width: 1440px;
    padding: 0 110px 87px;
    margin: 0;
  }
}
.main-catalog__catalog-title {
  margin-bottom: 41px;
}
@media (min-width: 1200px) {
  .main-catalog__catalog-title {
    margin-bottom: 84px;
  }
}

.catalog__item {
  border-top: 1px solid #ebebeb;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__item {
    border: none;
    margin: 0;
    padding: 10px 37px 40px 37px;
    position: relative;
    background-image: linear-gradient(#ffffff 81px, #f2f2f2 81px);
  }
}
.catalog__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    row-gap: 63px;
    column-gap: 80px;
  }
}
.catalog__image-wrapper {
  width: 140px;
  height: 107px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .catalog__image-wrapper {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .catalog__image-wrapper {
    width: 169px;
  }
}
.catalog__subtitle {
  min-width: 140px;
}
@media (min-width: 768px) {
  .catalog__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}
.catalog__link {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  width: 100%;
  max-height: 40px;
  padding: 10px 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .catalog__link {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .catalog__link {
    width: 169px;
    margin: 0;
  }
}
.catalog__link:hover {
  background-color: #5eaa2f;
}
.catalog__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog__content-wrapper {
  display: flex;
  padding: 20px 0 20px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__content-wrapper {
    flex-direction: column;
    padding: 0;
    margin-bottom: 32px;
  }
}
.catalog__item--all {
  text-align: center;
  padding: 25px 0 24px;
}
@media (min-width: 768px) {
  .catalog__item--all {
    width: 324px;
    height: 429px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 37px 40px;
    background-image: none;
    outline: 2px solid #f2f2f2;
    top: 77px;
  }
}
@media (min-width: 1200px) {
  .catalog__item--all {
    width: 245px;
    height: 431px;
  }
}
.catalog__item--all-icon {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .catalog__item--all-icon {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .catalog__item--all::after {
    content: "";
    position: absolute;
    width: 324px;
    height: 403px;
    top: 81px;
    left: 0;
    background-color: #ffffff;
    z-index: -1;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .catalog__item--all::after {
    width: 245px;
  }
}
.catalog__subtitle--all {
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .catalog__subtitle--all {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
    max-width: 134px;
  }
}
.catalog__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog__text {
    font-size: 16px;
    line-height: 18px;
  }
}
.catalog__text-wrapper--all {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .catalog__text-wrapper--all {
    margin-bottom: 79px;
    max-width: 170px;
  }
}
.catalog__link--all {
  color: #444444;
  background-color: #f2f2f2;
}
.catalog__link--all:hover {
  background-color: #ebebeb;
}
.catalog__link--all:active {
  color: #444444;
}
.catalog__address {
  background-color: #f2f2f2;
}
.catalog__item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__item-description {
    gap: 20px;
  }
}

.table-property {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .table-property {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.table-property__row {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .table-property__row {
    border-bottom: 1px solid #cdcdcd;
  }
}
.table-property__property--extra {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 1200px) {
  .table-property__property--extra {
    width: 243px;
  }
}
.table-property__value--extra {
  text-align: right;
}

.extra-products {
  position: relative;
}
.extra-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-wrap: nowrap;
  padding-right: 20px;
  background-color: #ffffff;
  z-index: 1;
}
@media (min-width: 768px) {
  .extra-products__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  .extra-products__subtitle {
    width: 325px;
  }
}
.extra-products__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .extra-products__item {
    padding: 26px 38px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1200px) {
  .extra-products__item {
    flex-direction: row;
    padding: 15px 1px;
    width: 894px;
    border-left: none;
    border-right: none;
    justify-content: space-between;
  }
}
.extra-products__content {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media (min-width: 768px) {
  .extra-products__content {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .extra-products__content {
    gap: 0;
  }
}
.extra-products__row {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .extra-products__row {
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    gap: 55px;
  }
}
@media (min-width: 1200px) {
  .extra-products__row {
    gap: 0;
  }
}
.extra-products__list {
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .extra-products__list {
    border: none;
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .extra-products__list {
    padding-bottom: 0;
    display: grid;
    margin: 0;
  }
}
.extra-products__title-wrapper {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 36px;
  border-top: 1px solid #ebebeb;
  position: relative;
}
@media (min-width: 768px) {
  .extra-products__title-wrapper {
    border: none;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .extra-products__title-wrapper {
    gap: 0;
  }
}
.extra-products__title-wrapper::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .extra-products__title-wrapper::before {
    content: "";
    position: absolute;
    width: 768px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1200px) {
  .extra-products__title-wrapper::before {
    content: "";
    position: absolute;
    width: 1440px;
    left: -110px;
  }
}
.extra-products__promo {
  position: relative;
}
@media (min-width: 768px) {
  .extra-products__promo {
    padding-bottom: 75px;
  }
}
@media (min-width: 768px) {
  .extra-products__link {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .extra-products__link {
    width: 244px;
  }
}
@media (min-width: 1200px) {
  .extra-products__wrapper {
    display: flex;
    gap: 80px;
    justify-content: space-between;
  }
}

.promo__image-wrapper {
  position: relative;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 0 60px;
  background-image: url("../img/promo-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .promo__image-wrapper {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    padding: 57px 125px 69px 77px;
    justify-content: space-between;
    background-image: url("../img/promo-image-tablet.png");
  }
}
@media (min-width: 1200px) {
  .promo__image-wrapper {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 288px;
    padding: 56px 42px 43px;
    background-image: url("../img/promo-image.png");
  }
}
.promo__image-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #68b738;
  opacity: 0.85;
}
@media (min-width: 768px) {
  .promo__image-wrapper::before {
    width: 707px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .promo__image-wrapper::before {
    width: 245px;
    height: 288px;
  }
}
.promo__icon-image {
  z-index: 0;
  width: 78px;
  height: 80px;
  background-image: url("../img/icon-gift.svg");
}
.promo__text {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  z-index: 0;
}
@media (min-width: 768px) {
  .promo__text {
    max-width: 161px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .promo__text {
    text-align: center;
  }
}

.main-form {
  width: 320px;
  margin: 0 auto;
  padding: 27px 20px 32px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-form {
    min-width: 768px;
    padding: 0 70px 60px;
  }
}
@media (min-width: 1200px) {
  .main-form {
    min-width: 1440px;
    padding: 0 110px 79px;
  }
}
.main-form__form-title {
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .main-form__form-title {
    margin-bottom: 54px;
    padding: 0;
  }
}

.question-form {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .question-form {
    font-size: 20px;
    line-height: 20px;
  }
}
.question-form__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .question-form__title {
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .question-form__header {
    display: flex;
    gap: 80px;
  }
}
.question-form__person-data {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .question-form__person-data {
    gap: 20px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .question-form__person-data {
    width: 100%;
  }
}
.question-form__subtitle {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  text-wrap: nowrap;
  padding-right: 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .question-form__subtitle {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    position: relative;
    left: -40px;
  }
}
@media (min-width: 1200px) {
  .question-form__subtitle {
    padding: 0 40px;
  }
}
.question-form__subtitle-wrapper {
  display: flex;
  margin-bottom: 34px;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .question-form__subtitle-wrapper {
    margin-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .question-form__subtitle-wrapper {
    margin-bottom: 78px;
  }
}
.question-form__subtitle-wrapper::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .question-form__subtitle-wrapper::before {
    content: "";
    position: absolute;
    width: 768px;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1200px) {
  .question-form__subtitle-wrapper::before {
    content: "";
    position: absolute;
    width: 1440px;
    left: -110px;
  }
}
.question-form__program-choice {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .question-form__program-choice {
    border: 1px solid #d9d9d9;
    padding: 27px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .question-form__program-choice {
    min-width: 570px;
    padding: 25px 28px;
    justify-content: center;
  }
}
.question-form__comment {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .question-form__comment {
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .question-form__comment {
    margin-bottom: 70px;
  }
}
.question-form__button {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .question-form__button {
    margin: 0;
    width: 284px;
  }
}
@media (min-width: 1200px) {
  .question-form__button {
    width: 570px;
  }
}
.question-form__note {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  text-transform: none;
  text-align: center;
}
@media (min-width: 768px) {
  .question-form__footer {
    display: flex;
    align-items: baseline;
    gap: 60px;
  }
}

.owner-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .owner-contacts {
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .owner-contacts {
    margin-bottom: 70px;
  }
}
.owner-contacts__item {
  display: flex;
  align-items: center;
  gap: 13px;
  position: relative;
}
@media (min-width: 1200px) {
  .owner-contacts__item {
    width: 100%;
  }
}
.owner-contacts__property {
  text-align: center;
  text-wrap: nowrap;
}
.owner-contacts__value {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 14px 45px 14px 13px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .owner-contacts__value {
    font-size: 20px;
  }
}
.owner-contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (min-width: 1200px) {
  .owner-contacts__wrapper {
    flex-direction: row;
    gap: 81px;
  }
}
.owner-contacts__input-box {
  position: relative;
  width: 100%;
}
.owner-contacts__input-box-email::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/email-owner.svg");
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
.owner-contacts__input-box-tel::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/tel-owner.svg");
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.person-data {
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .person-data {
    border: none;
    padding: 0;
  }
}
.person-data__value {
  padding: 14px 15px;
  border: 1px solid #e7e7e7;
  width: 100%;
}
@media (min-width: 768px) {
  .person-data__value {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    color: #444444;
  }
}
.person-data__value:hover {
  border: 1px solid #cdcdcd;
}
.person-data__item {
  display: flex;
  align-items: center;
  gap: 13px;
}
.person-data__property {
  text-wrap: nowrap;
}

.comment__value-wrapper {
  height: 150px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .comment__value-wrapper {
    width: 100%;
    height: 175px;
  }
}
.comment__value {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 14px;
}

.add-info__item {
  display: flex;
}
.add-info__item:disabled {
  opacity: 0.3;
}
.add-info__container {
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .add-info__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 32px;
    column-gap: 123px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1200px) {
  .add-info__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-wrap: nowrap;
  }
}
.add-info__checkbox {
  position: absolute;
  left: 0;
  opacity: 0;
}
.add-info__checkbox + label {
  position: relative;
  padding-left: 55px;
  cursor: pointer;
}
.add-info__checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}
.add-info__checkbox + label::before:hover {
  border: 1px solid #bababa;
}
.add-info__checkbox + label:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  top: 7px;
  left: 6px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.add-info__checkbox:not(:checked) + label:after {
  opacity: 0;
}
.add-info__checkbox:checked + label:after {
  opacity: 1;
}
.add-info__checkbox:disabled + label:before, .add-info__checkbox:disabled + label:after, .add-info__checkbox:disabled + label {
  opacity: 0.3;
}

.program-choice__radio {
  display: flex;
}
.program-choice__radio:disabled {
  opacity: 0.3;
}
.program-choice__radio input[type=radio] {
  display: none;
}
.program-choice__radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 45px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
          user-select: none;
}
.program-choice__radio label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  left: 0;
  bottom: -6px;
}
.program-choice__radio label::before:hover {
  border: 1px solid #bababa;
}
.program-choice__radio label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
  top: 3px;
  left: 9px;
  visibility: hidden;
}
.program-choice__radio input[type=radio]:checked + label::after {
  visibility: visible;
}
.program-choice__radio label:hover::before {
  border: 1px solid #bababa;
}
.program-choice__radio input[type=radio]:disabled + label {
  opacity: 0.3;
}

.footer {
  background-color: #f2f2f2;
  position: relative;
}
.footer__academy-logo-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
.footer__address-wrapper {
  display: flex;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .footer__address-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
  }
}
@media (min-width: 1200px) {
  .footer__address-wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 2;
    width: 565px;
    height: 199px;
    background-color: #ffffff;
    padding: 60px 78px;
  }
}
.footer__index-address-wrapper {
  background-color: #ffffff;
}
.footer__address-subtitle {
  font-size: 16px;
  line-height: 20px;
  max-width: 140px;
  color: #111111;
}
@media (min-width: 768px) {
  .footer__address-subtitle {
    font-size: 20px;
    line-height: 26px;
    max-width: 160px;
  }
}
.footer__address-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
  max-width: 140px;
}
@media (min-width: 768px) {
  .footer__address-text {
    font-size: 16px;
    max-width: 160px;
    text-align: right;
  }
}

.main-index {
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */