@import "variables.scss";

.advantages {
  margin-bottom: 49px;
  &__title {
    margin-bottom: 40px;
  }

  &__icon {
    position: relative;
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    background-color: $background-block-special;
    text-align: center;
    align-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    gap: 20px;
  }

  &__text-wrapper {
    font-family: $content-font;
    font-size: 14px;
    line-height: 18px;
    color: $color-text-primary;
  }
}
