@import "../variables";

.advantages {
  padding: 0 20px 49px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 30px;
    margin-bottom: 47px;
    position: relative;
    top: -84px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding: 0 110px;
    margin-bottom: 0;
    top: 0;
  }

  &__title {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    background-color: $background-block-special;
    text-align: center;
    align-content: center;

    @media (min-width: $tablet-width) {
      min-width: 80px;
      min-height: 80px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    counter-reset: section;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 37px;
      column-gap: 137px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 69px;
      column-gap: 76px;
    }
  }

  &__item {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 38px;
      gap: 31px;
      max-width: 249px;
      min-height: 280px;
    }
  }

  &__item::after {
    @media (min-width: $tablet-width) {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      width: 134px;
      height: 280px;
      inset: 0 0 0 120px;
      font: $font-sgl-hgh-ff2;
      color: $background-block;
    }
  }

  &__text-wrapper {
    font: $font-ss-hn-ff1;
    color: $color-text-primary;

    @media (min-width: $tablet-width) {
      font: $font-sms-hh-ff1;
      z-index: 1;
    }
  }
}
