@import "../variables";

.advantages {
  padding: 20px 20px 49px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 30px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding: 0 110px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 32px;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    background-color: $background-block-special;
    text-align: center;
    align-content: center;

    @media (min-width: $tablet-width) {
      min-width: 80px;
      min-height: 80px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid: 1fr 1fr /1fr 1fr;
      row-gap: 37px;
      column-gap: 153px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 69px;
      column-gap: 76px;
    }
  }

  &__item {
    display: flex;
    gap: 20px;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 31px;
      max-width: 249px;
      min-height: 280px;
      background-position: 125px 41px;
    }
  }

  &__text-wrapper {
    font: $font-ss-hn-ff1;
    color: $color-text-primary;

    @media (min-width: $tablet-width) {
      font: $font-sms-hh-ff1;
    }
  }

  @media (min-width: $tablet-width) {
    @for $i from 1 through 4 {
      &__item:nth-child(3n + #{$i}) {
        background-image: url("../img/#{$i}.png");
      }
    }
  }
}
