@import "../variables.scss";

.catalog {
  &__item {
    border-top: $border-catalog-item;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      border: none;
      margin: 0;
      padding: 10px 37px 40px 37px;
      position: relative;
      background-image: linear-gradient($background-body 81px, $background-block 81px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px;
      margin-bottom: 70px;
      align-items: flex-end;
    }

    @media (min-width: $desktop-width) {
      row-gap: 63px;
      column-gap: 80px;
    }
  }

  &__image-wrapper {
    width: 140px;
    height: 107px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 210px;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
    }
  }

  &__subtitle {
    min-width: 140px;

    @media (min-width: $tablet-width) {
      font: $font-ss-hh-ff2;
      text-align: center;
    }
  }

  &__link {
    background-color: $background-button;
    color: $color-text-secondary;
    font: $font-sms-hnh-ff2;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    width: 100%;
    max-height: 40px;
    padding: 10px 10px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 250px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      margin: 0;
    }
  }

  &__link:hover {
    background-color: $background-button-hover;
  }

  &__link:active {
    color: $color-text-secondary-hover;
  }

  &__content-wrapper {
    display: flex;
    padding: 20px 0 20px;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      padding: 0;
      margin-bottom: 32px;
    }
  }

  &__item--all {
    text-align: center;
    padding: 25px 0 24px;

    @media (min-width: $tablet-width) {
      width: 324px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 50px 37px 40px;
      background-image: none;
      outline: $border-catalog-item-all;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }

  &__item--all-icon {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }

  &__subtitle--all {
    font: $font-ss-hnh-ff2;
    color: $color-subtitle-special;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      font: $font-ss-hh-ff2;
      margin-bottom: 23px;
      max-width: 134px;
    }
  }

  &__text {
    font: $font-sxs-hnl-ff1;
    color: $color-text-primary;

    @media (min-width: $tablet-width) {
      font: $font-sms-hn-ff1;
    }
  }

  &__text-wrapper--all {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 79px;
      max-width: 170px;
    }
  }

  &__link--all {
    color: $color-text-primary;
    background-color: $background-button-show-all;
  }

  &__link--all:hover {
    background-color: $background-button-show-all-hover;
  }

  &__link--all:active {
    color: $color-text-primary;
  }

  &__address {
    background-color: $background-block;
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      gap: 20px;
    }
  }
}
