@import "../variables.scss";

.catalog {
  &__item {
    border-top: $border-catalog-item;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      border: none;
      margin: 0;
      padding: 15px 37px 40px;
      position: relative;
      background-image: linear-gradient($background-body 81px, $background-block 81px 100%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 37px 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: 25px;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
      grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
      gap: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 77px;
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
      column-gap: 80px;
      row-gap: 63px;
    }
  }

  &__image-wrapper {
    width: 140px;
    height: 107px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 210px;
      margin-bottom: 15px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      margin-bottom: 9px;
    }
  }

  &__subtitle {
    width: 76px;
    font: $font-sms-hnh-ff2;

    @media (min-width: $tablet-width) {
      font: $font-sml-hh-ff2;
      text-align: center;
      width: 135px;
    }

    @media (min-width: $desktop-width) {
      width: 140px;
    }
  }

  &-link {
    background-color: $background-button;
    color: $color-text-secondary;
    font: $font-sms-hnh-ff2;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    width: 100%;
    max-height: 40px;
    padding: 10px 10px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 250px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      margin: 0;
    }
  }

  &-link:hover {
    background-color: $background-button-hover;
  }

  &-link:active {
    color: $color-text-secondary-hover;
  }

  &__content-wrapper {
    display: flex;
    padding: 18px 0;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      padding: 0;
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 35px;
    }
  }

  &__item--all {
    text-align: center;
    padding: 25px 0 24px;

    @media (min-width: $tablet-width) {
      width: 324px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 50px 37px 40px;
      background-image: none;
      outline: $border-catalog-item-all;
      height: calc(100% - 82px);
      top: 82px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }

  &__item-all-icon {
    display: block;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 48px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 38px;
    }
  }

  &__subtitle--all {
    font: $font-sms-hnh-ff2;
    color: $color-subtitle-special;
    margin-bottom: 8px;
    width: auto;

    @media (min-width: $tablet-width) {
      font: $font-sml-hh-ff2;
      margin-bottom: 22px;
      max-width: 134px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }

  &__text {
    font: $font-sxs-hnl-ff1;
    color: $color-text-primary;

    @media (min-width: $tablet-width) {
      font: $font-sms-hn-ff1;
    }
  }

  &__text-wrapper--all {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 81px;
      max-width: 170px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 90px;
    }
  }

  &-link--all {
    color: $color-text-primary;
    background-color: $background-button-show-all;
  }

  &-link--all:hover {
    background-color: $background-button-show-all-hover;
  }

  &-link--all:active {
    color: $color-text-primary;
  }

  &__address {
    background-color: $background-block;
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 140px;
    padding-top: 5px;

    @media (min-width: $tablet-width) {
      gap: 19px;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      gap: 22px;
    }
  }
}
