@import "variables.scss";

.catalog {
  &__item {
    border-top: $border-catalog-item;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      border: none;
      margin: 0;
      padding: 10px 37px 40px 37px;
      position: relative;
      background-image: linear-gradient($background-body 81px, $background-block 81px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px;
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      row-gap: 63px;
      column-gap: 80px;
    }
  }

  &__image-wrapper {
    width: 140px;
    height: 107px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 210px;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
    }
  }

  &__subtitle {
    min-width: 140px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
  }

  &__link {
    background-color: $background-button;
    color: $color-text-secondary;
    font-family: $title-font;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    width: 100%;
    max-height: 40px;
    padding: 10px 10px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 250px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      margin: 0;
    }
  }

  &__content-wrapper {
    display: flex;
    padding: 20px 0 20px;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      padding: 0;
      margin-bottom: 32px;
    }
  }

  &__item--all {
    text-align: center;
    padding: 25px 0 24px;

    @media (min-width: $tablet-width) {
      width: 324px;
      height: 429px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 50px 37px 40px;
      background-image: none;
      outline: $border-catalog-item-all;
      top: 77px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      height: 431px;
    }
  }

  &__item--all-icon {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  &__item--all::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 324px;
      height: 403px;
      top: 81px;
      left: 0;
      background-color: $background-body;
      z-index: -1;
      border: $border-catalog-item-all;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }

  &__subtitle--all {
    font-size: 14px;
    line-height: 20px;
    color: $color-subtitle-special;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 23px;
      max-width: 134px;
    }
  }

  &__text {
    font-family: $content-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $color-text-primary;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__text-wrapper--all {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 79px;
      max-width: 170px;
    }
  }

  &__link--all {
    color: $color-text-primary;
    background-color: $background-button-show-all;
  }

  &__address {
    background-color: $background-block;
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      gap: 20px;
    }
  }
}
