@import "../variables";

.comment {
  &__value-wrapper {
    height: 150px;
    width: 280px;
    border: $border-comment;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 175px;
    }
  }

  &__value {
    font: $font-sms-hn-ff2;
    text-transform: uppercase;
    color: $color-text-primary;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 14px;
  }
}
