@import "variables.scss";

.comment {
  &__value-wrapper {
    width: $block-width;
    height: 150px;
    border: $border-comment;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 175px;
    }
  }

  &__value {
    font-family: $title-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $color-text-primary;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 14px;
  }
}
