@import "../variables.scss";

.contacts {
  &__container {
    padding: 36px 20px;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 59px 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 69px 110px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &__social-list {
    display: flex;
    padding: 20px 0;
    border-top: $border-block;
    border-bottom: $border-block;
    margin-bottom: 14px;
    gap: 24px;
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet-width) {
      border: none;
      margin: 0;
      padding: 0 0 0 33px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 40px;
    }
  }

  &__social-item {
    display: flex;
    width: 28px;
    height: 22px;
    align-items: center;
    justify-content: center;
  }

  &__social-link {
    color: $color-icon;
  }

  &__promo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      gap: 23px;
    }
  }

  &__promo-wrapper:active {
    opacity: 0.3;
  }

  &__promo-wrapper:hover svg {
    fill: #68b738;
  }
}
