@import "../variables";

.entry {
  position: relative;
  margin-bottom: 24px;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, rgba(255, 255, 255, 0.85) 302px),
    url("../img/entry-background.png") no-repeat;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, rgba(255, 255, 255, 0.85) 302px),
      url("../img/entry-background@2x.png") no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    background: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &__desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 0;
      padding-left: 190px;
      margin-bottom: 82px;
      background: linear-gradient(to right, #ffffff 50%, #68b738 50%);
    }
  }

  &__header {
    color: $color-text-secondary;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 27px 30px 2px;

    @media (min-width: $tablet-width) {
      background-color: $background-body;
      color: $color-text-special;
      padding: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
    }
  }

  &__image-wrapper {
    position: relative;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 706px;
      height: 609px;
      order: 4;
      inset: -83px 0 0 -85px;
    }

    @media (min-width: $desktop-width) {
      width: 720px;
      height: 694px;
      inset: 0;
    }
  }

  &__title {
    font: $font-sxxl-hxxh-ff2;
    margin-bottom: 25px;
    color: $color-text-secondary;
    z-index: 1;
    position: relative;

    @media (min-width: $tablet-width) {
      color: $color-text-special;
      max-width: 510px;
      font: $font-s3xl-h3xh-ff2;
      margin-bottom: 40px;
    }
  }

  &__title-wrapper {
    @media (min-width: $desktop-width) {
      padding-top: 40px;
    }
  }

  &__tagline {
    font: $font-ss-hl-ff2;
    text-transform: uppercase;
    margin-bottom: 29px;
    z-index: 1;
    position: relative;

    @media (min-width: $tablet-width) {
      font: $font-sml-hnh-ff2;
      margin-bottom: 50px;
    }
  }

  &__image {
    display: block;

    @media (min-width: $desktop-width) {
      opacity: 0.25;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      align-items: start;
      padding-left: 120px;
    }
  }

  &__button {
    max-width: 280px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 14px 26px;
      position: relative;
      z-index: 2;
      width: max-content;
      font: $font-sml-hhh-ff2;
    }
  }
}
