@import "variables.scss";

.entry {
  position: relative;
  padding-bottom: 20px;

  &__container {}

  &__header {
    color: $color-text-secondary;
    text-align: center;
    height: 302px;
    background-color: $background-block-special;
    opacity: 0.85;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 27px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 302px;
    top: 0;
    left: 50%;
    background-image: url("../img/entry-background.png");
    transform: translateX(-50%);
  }

  &__image-wrapper {
    margin-top: -135px;
    position: relative;
  }

  &__title {
    font-family: $title-font;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 25px;
    color: $color-text-secondary;
  }

  &__tagline {
    font-family: $title-font;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

}
