@import "variables.scss";

.example {
  background-color: $background-block-example;
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    background-color: $background-body;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px 75px;
    background-color: $background-block;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text-wrapper {
    font: $font-ss-hn-ff1;
    color: $color-text-primary;
    margin-bottom: 20px;
    text-align: justify;

    @media (min-width: $tablet-width) {
      font: $font-sms-hh-ff1;
    }

    @media (min-width: $desktop-width) {
      width: 436px;
      margin-bottom: 69px;
    }
  }

  &__result-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      width: 436px;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 32px;

    @media (min-width: $desktop-width) {
      margin-bottom: 55px;
    }
  }

  &__legend {
    font: $font-ss-hnh-ff2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      font: $font-sml-hnh-ff2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      margin: 0;
    }
  }

  &__progress {
    font: $font-sl-hh-ff2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      font: $font-sxl-hxxh-ff2;
    }
  }

  &__description {
    font: $font-sxs-hxl-ff1;
    color: $color-text-primary;
    text-align: center;
    width: 77px;
    margin-bottom: -11px;
    background-color: $background-block-example;

    @media (min-width: $tablet-width) {
      font: $font-ss-hl-ff1;
      background-color: $background-body;
    }

    @media (min-width: $desktop-width) {
      background-color: $background-block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border-example-item;
    border-radius: 5px;
    min-width: 124px;
    width: 100%;
    padding-top: 14px;
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 512px;
    }
  }

  &__slider {
    text-align: center;
  }
}
