@import "variables.scss";

.extra-products {
  position: relative;

  &__title {
    font: $font-sl-hh-wn-ff2;
    color: $color-text-special;
    text-wrap: nowrap;
    padding-right: 20px;
    background-color: $background-body;
    z-index: 1;

    @media (min-width: $tablet-width) {
      font: $font-sxxl-hxxh-wn-ff2;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__subtitle {
    @media (min-width: $desktop-width) {
      width: 325px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 13px;
    padding-bottom: 19px;
    border-top: $border-extra-products;

    @media (min-width: $tablet-width) {
      padding: 26px 38px;
      border: $border-extra-products;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      padding: 15px 1px;
      width: 894px;
      border-left: none;
      border-right: none;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 13px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      gap: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      font: $font-sms-hnh-wn-ff1;
      align-items: center;
      gap: 55px;
    }

    @media (min-width: $desktop-width) {
      gap: 0;
    }
  }

  &__list {
    padding-bottom: 20px;
    border-bottom: $border-extra-products;
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      border: none;
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
      display: grid;
      margin: 0;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 36px;
    border-top: $border-extra-products__title;
    position: relative;

    @media (min-width: $tablet-width) {
      border: none;
      gap: 10px;
    }

    @media (min-width: $desktop-width) {
      gap: 0;
    }
  }

  &__title-wrapper::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 2px;
    background-color: $background-title-decor;

    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 768px;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      width: 1440px;
      left: -110px;
    }
  }

  &__promo {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-bottom: 75px;
    }
  }

  &__link {
    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 244px;
    }
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      display: flex;
      gap: 80px;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
