@import "../variables";

.header {
  position: relative;
  background-color: $background-body;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 9px 20px;

  @media (min-width: $tablet-width) {
    padding: 26px 30px;
    justify-content: left;
    position: relative;
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 110px 64px;
    z-index: 1;
    position: relative;
    inset: 0;
    width: 100%;
  }
}

.header__wrapper-index {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 37px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      width: 552px;
      height: 499px;
      position: absolute;
      background-image: url("../img/index-can-desktop.png");
      top: 107px;
      right: 330px;
      z-index: 5;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: contain;
    }
  }
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}
