@import "../variables.scss";

.header-navigation {
  &__wrapper {
    width: 24px;
    display: flex;

    @media (min-width: $tablet-width) {
      width: auto;
      margin-left: auto;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: $background-body;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__list {
    display: block;
    position: absolute;
    left: 0;
    top: 51px;
    width: 320px;
    height: 100%;
    padding: 0;
    z-index: 2;

    @media (min-width: $tablet-width) {
      visibility: visible;
      display: flex;
      width: 100%;
      gap: 33px;
      position: static;
    }
  }

  &__link {
    display: block;
    padding: 22px 24px;
    font: $font-sml-hnh-ff2;
    border-top: $border-navigation__link;
    position: relative;

    @media (min-width: $tablet-width) {
      font: $font-sm-hh-ff2;
      padding: 0;
      border: none;
    }

    @media (min-width: $desktop-width) {
      font: $font-sml-hxh-ff2;
    }
  }

  &__link:hover {
    opacity: 0.4;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link--active::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: $background-button;
      bottom: -8px;
      left: 0;
      z-index: 6;
    }
  }

  &__link--active-index::before {
    @media (min-width: $desktop-width) {
      background: $background-body;
      bottom: 0;
    }
  }

  &__link--index {
    @media (min-width: $desktop-width) {
      padding-bottom: 10px;
      color: $color-text-secondary;
    }
  }

  &__item {
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: $background-body;

    @media (min-width: $desktop-width) {
      background: transparent;
      z-index: 2;
    }
  }
}

.header-navigation-closed .header-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.header-navigation-opened .header-navigation__list {
  @media (max-width: $mobile-width-only) {
    visibility: visible;
    position: absolute;
    top: 66px;
    right: 0;
    z-index: 10;
  }
}

.header-navigation-opened .header-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: none;
}

.header-navigation-opened .header-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
}

.header-navigation-nojs .header-navigation__toggle {
  display: none;
}
