@import "variables.scss";

.header {
  position: relative;
  background-color: $background-body;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 13px 20px;

    @media (min-width: $tablet-width) {
      padding: 25px 30px 65px;
      justify-content: left;
      position: relative;
      gap: 13px;
    }

    @media (min-width: $desktop-width) {
      padding: 55px 110px 74px;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__wrapper-index::before {
    @media (min-width: $desktop-width) {
      content: "";
      width: 552px;
      height: 499px;
      position: absolute;
      background-image: url("../img/index-can-desktop.png");
      top: 143px;
      right: 331px;
      z-index: 5;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: contain;
      }
    }
  }

  &__wrapper-index {
    @media (min-width: $desktop-width) {
      position: absolute;
    }
  }

  &__logo:hover {
    opacity: 0.8;
  }

  &__logo:active {
    opacity: 0.6;
  }
}
