@import "../variables.scss";

.logo-text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 24px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.logo__image-tablet,
.logo__image-desktop {
  display: none;
}

.logo__image-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__image-tablet {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__image-desktop {
  @media (min-width: $desktop-width) {
    display: block;
  }
}
