@import "variables.scss";

.logo {
  &__image {
    @media (min-width: $tablet-width) {
      width: 60px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
    }
  }

  &__text {
    @media (min-width: $desktop-width) {
      width: 118px;
      height: 21px;
    }
  }
}
