@import "../variables.scss";

.logo {
  &__text {
    @media (min-width: $desktop-width) {
      width: 118px;
      height: 24px;
    }
  }

  &__text:hover svg {
    fill: #3e3e3e;
  }

  &__image-tablet,
  &__image-desktop {
    display: none;
  }

  &__image-mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__image-tablet {
    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__image-desktop {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
