@import "../variables";

.main-form {
  min-width: $block-width;
  margin: 0 auto;
  padding: 27px 20px 32px;
  background-color: $background-body;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0 70px 56px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    padding: 0 110px 79px;
  }
}

.main-form__title {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.main-form__title-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}
