@import "../variables";

.main-catalog {
  min-width: $block-width;
  margin: 0 auto;
  border-top: $border-block;
  padding: 27px 20px 38px;
  background-color: $background-body;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    padding: 0 110px 12px;
    margin: 0;
  }

  &__catalog-title {
    @media (min-width: $tablet-width) {
      margin-bottom: 81px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 84px;
    }
  }
}
