@import "variables.scss";

.owner-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 13px;
    position: relative;

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  &__property {
    text-align: center;
    text-wrap: nowrap;
  }

  &__value {
    width: 100%;
    font: $font-ss-hnl-ff2;
    text-transform: uppercase;
    padding: 14px 45px 14px 13px;
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      font: $font-sml-hxh-ff2;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      gap: 81px;
    }
  }

  &__input-box {
    position: relative;
    width: 100%;
  }

  &__email-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__tel-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}
