@import "../variables";

.person-data {
  padding-bottom: 24px;
  border-bottom: $border-person-data;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  &__value {
    padding: 14px 15px 13px;
    border: $border-person-data;
    width: 100%;
    font: $font-sms-hn-ff2;

    @media (min-width: $tablet-width) {
      font: $font-sml-hxh-ff2;
      color: $color-text-primary;
      padding: 11px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 13px;
    font: $font-sms-hn-ff2;

    @media (min-width: $tablet-width) {
      font: $font-sml-hxh-ff2;
    }
  }

  &__property {
    text-wrap: nowrap;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}
