@import "variables.scss";

.person-data {
  padding-bottom: 24px;
  border-bottom: $border-person-data;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  &__value {
    padding: 14px 15px;
    border: $border-person-data;
    width: 100%;

    @media (min-width: $tablet-width) {
      font: $font-sml-hxh-ff2;
      color: $color-text-primary;
    }
  }

  &__value:hover {
    border: $border-owner-contacts;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__property {
    text-wrap: nowrap;
  }
}
