@import "variables.scss";

.person-data {
  padding-bottom: 24px;
  border-bottom: $border-person-data;

  &__value {
    padding-top: 14px;
    padding-left: 15px;
    padding-bottom: 14px;
    border: $border-person-data;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__property {
    text-wrap: nowrap;
  }
 }
