@import "variables.scss";

.programs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;

  &__subtitle-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
     font-size: 36px;
     line-height: 36px;
    }
  }

  &__subtitle {
    @media (min-width: $tablet-width) {
     font-size: 36px;
     line-height: 36px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      gap: 30px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 71px;
    }
  }

  &__item {
    background-color: $background-block;
    padding: 20px;

    @media (min-width: $tablet-width) {
      width: 708px;
      padding: 52px;
    }
  }

  &__text-wrapper {
    font-family: $content-font;
    font-size: 14px;
    line-height: 18px;
    color: $color-text-primary;
    padding-bottom: 23px;
    border-bottom: $border-block;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      max-width: 340px;
      border: none;
    }
  }

  &__link {
    font-family: $title-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      gap: 25px;
    }
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 12px;
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
  }

  &__link::after:hover {
    background-image: url("../img/programs-arrow.svg");
  }

  &__link::after:active {
    opacity: 0.3;
  }

  &__link-wrapper {
    display: inline-block;
  }

  &__image-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $background-block-special;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $background-block-special;
    }
  }

  &__item-wrapper {
    position: relative;
   }

  &__icon-wrapper {
    display: none;

    @media  (min-width: $tablet-width) {
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $background-block-special;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__icon {
    position: relative;
  }

  &__icon-slim {
    @media  (min-width: $tablet-width) {
    object-fit: cover;
    width: 140px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    @media (min-width: $desktop-width) {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  }

  &__icon-pro {
    @media  (min-width: $tablet-width) {
      object-fit: cover;
      width: 268px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
