@import "../variables";

.program-choice {
  &__radio {
    display: flex;
    padding: 6px 0 6px;
  }

  &__radio:not(:last-child) {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-right: 17px;
    }
  }

  &__radio:disabled {
    opacity: 0.3;
  }

  &__radio input[type="radio"] {
    display: none;
  }

  &__radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 45px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;

    @media (min-width: $tablet-width) {
      font: $font-sml-hh-ff2;
    }

    @media (min-width: $desktop-width) {
      padding-left: 60px;
    }
  }

  &__radio label::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: $border-program-choice;
    left: 0;
    bottom: -6px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &__radio label::before:hover {
    border: $border-program-choice-hover;
  }

  &__radio label::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $background-button;
    top: 3px;
    left: 9px;
    visibility: hidden;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }

  &__radio input[type="radio"]:checked + label::after {
    visibility: visible;
  }

  &__radio label:hover::before {
    border: 1px solid #bababa;
  }

  &__radio input[type="radio"]:disabled + label {
    opacity: 0.3;
  }
}
