@import "../variables";

.table-property {
  font: $font-sxs-hnl-ff1;
  color: $color-text-primary;

  @media (min-width: $tablet-width) {
    font: $font-sms-hnh-ff1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  &__property--extra {
    font: $font-ss-hl-ff1;
    color: $color-text-primary;

    @media (min-width: $desktop-width) {
      width: 243px;
    }
  }

  &__value--extra {
    text-align: right;
  }
}
