@import "variables.scss";

.table-property {
  font-family: $content-font;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-primary;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  &__property--extra {
    font-family: $content-font;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: $color-text-primary;

    @media (min-width: $desktop-width) {
      width: 243px;
    }
  }

  &__value--extra {
    text-align: right;
  }
}
