@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline-offset: -1px;
}

.subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000000;
}

.body {
  background-color: #ffffff;
  font-family: "Lato";
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.button {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  width: 280px;
  min-height: 40px;
  padding: 10px 0 10px;
  cursor: pointer;
}

.title-decor {
  width: 100%;
  height: 2px;
  background-color: #68b738;
}

.entry {
  position: relative;
  padding-bottom: 20px;
}
.entry__header {
  color: #ffffff;
  text-align: center;
  height: 302px;
  background-color: #68b738;
  opacity: 0.85;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 27px;
}
.entry::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 302px;
  top: 0;
  left: 50%;
  background-image: url("../img/entry-background.png");
  transform: translateX(-50%);
}
.entry__image-wrapper {
  margin-top: -135px;
  position: relative;
}
.entry__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 25px;
  color: #ffffff;
}
.entry__tagline {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.entry__image {
  display: block;
  margin: 0 auto;
}

.header {
  position: relative;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 13px 21px;
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.programs__subtitle-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 18px;
}
.programs__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px;
  width: 280px;
}
.programs__text-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}
.programs__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
}
.programs__button::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../img/programs-arrow.svg");
  position: relative;
  top: 50%;
  left: 15px;
}
.programs__button-wrapper {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
}

.advantages {
  padding: 20px 20px 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__title {
  margin-bottom: 40px;
}
.advantages__icon {
  position: relative;
  display: inline-block;
  min-width: 60px;
  min-height: 60px;
  background-color: #68b738;
  text-align: center;
  align-content: center;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages__item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.advantages__text-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}
.example__title {
  margin-bottom: 40px;
}
.example__text-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
  text-align: justify;
}
.example__list {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 32px;
}
.example__legend {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.example__progress {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}
.example__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  width: 77px;
  margin-bottom: -11px;
  background-color: #eaeaea;
}
.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  min-width: 124px;
  width: 100%;
  padding-top: 14px;
}

.address__header {
  padding: 26px 20px;
}
.address__wrapper {
  display: flex;
}
.address__subtitle {
  font-size: 16px;
  line-height: 20px;
  min-width: 140px;
  color: #111111;
}
.address__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}

.contacts__container {
  padding-top: 40px;
}
.contacts__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.contacts__social-list {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.contacts__promo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.academy-logo-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.navigation__wrapper {
  width: 24px;
}
.navigation__button {
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.navigation__button > span, .navigation__button > span::before, .navigation__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition-duration: 0.25s;
}
.navigation__button > span::before {
  content: "";
  top: -8px;
}
.navigation__button > span::after {
  content: "";
  top: 8px;
}
.navigation__list {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 55px;
  width: 320px;
  height: 100%;
  padding: 0;
  list-style: none;
  z-index: 1;
}
.navigation__link {
  display: block;
  padding: 22px 24px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-top: 1px solid #e6e6e6;
}
.navigation__item {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}
.navigation__toggle {
  opacity: 0;
}
.navigation__toggle:checked ~ .navigation__button > span {
  transform: rotate(45deg);
}
.navigation__toggle:checked ~ .navigation__button > span::before {
  top: 0;
  transform: rotate(0);
}
.navigation__toggle:checked ~ .navigation__button > span::after {
  top: 0;
  transform: rotate(90deg);
}
.navigation__toggle:checked ~ .navigation__list {
  visibility: visible;
  left: 0px;
}

.main-catalog {
  width: 280px;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
}
.main-catalog__catalog-title {
  margin-bottom: 41px;
  padding-top: 27px;
}

.catalog__item {
  border-top: 1px solid #ebebeb;
  margin-bottom: 25px;
}
.catalog__list {
  display: flex;
  flex-direction: column;
}
.catalog__image-wrapper {
  width: 140px;
  height: 107px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__subtitle {
  min-width: 140px;
}
.catalog__link {
  color: #ffffff;
}
.catalog__content-wrapper {
  display: flex;
  padding: 20px 0 20px;
  justify-content: space-between;
}
.catalog__item--all {
  text-align: center;
  padding: 25px 0 24px;
}
.catalog__subtitle--all {
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  margin-bottom: 8px;
  padding-top: 23px;
}
.catalog__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
.catalog__text-wrapper--all {
  margin-bottom: 21px;
}
.catalog__link--all {
  color: #444444;
  background-color: #f2f2f2;
}
.catalog__address {
  background-color: #f2f2f2;
}
.catalog__item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-property {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.table-property__row {
  display: flex;
  justify-content: space-between;
}
.table-property__property--extra {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}
.table-property__value--extra {
  text-align: right;
}

.extra-products {
  margin-bottom: 35px;
  position: relative;
}
.extra-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-wrap: nowrap;
}
.extra-products__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
}
.extra-products__content {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.extra-products__row {
  display: flex;
  justify-content: space-between;
}
.extra-products__list {
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 35px;
}
.extra-products__title-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 36px;
  border-top: 1px solid #ebebeb;
}
.extra-products__promo {
  position: relative;
}

.promo__image-wrapper {
  position: relative;
  width: 280px;
  height: 290px;
  background-color: #68b738;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 0 60px;
}
.promo__image-wrapper::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 290px;
  top: 0;
  left: 0;
  background-image: url("../img/promo-image.png");
}
.promo__icon {
  position: relative;
  width: 78px;
  height: 80px;
}
.promo__icon::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  background-image: url("../img/icon-gift.svg");
  z-index: 0;
}
.promo__text {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  z-index: 0;
}

.main-form {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.main-form__form-title {
  padding: 27px 0 37px;
}

.question-form {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.question-form__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
.question-form__person-data {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 22px;
}
.question-form__subtitle {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  width: 100%;
  text-wrap: nowrap;
}
.question-form__subtitle-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 34px;
  align-items: center;
}
.question-form__program-choice {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  border-bottom: 1px solid #d9d9d9;
}
.question-form__comment {
  margin-bottom: 23px;
}
.question-form__button {
  margin-bottom: 21px;
}
.question-form__note {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  text-transform: none;
  text-align: center;
}

.owner-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}
.owner-contacts__item {
  display: flex;
  align-items: center;
  gap: 13px;
  position: relative;
}
.owner-contacts__property {
  text-align: center;
  text-wrap: nowrap;
}
.owner-contacts__value {
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 14px;
  border: 1px solid #cdcdcd;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.owner-contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.owner-contacts__email::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/email-owner.svg");
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
.owner-contacts__tel::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/tel-owner.svg");
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.person-data {
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e7e7;
}
.person-data__value {
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 14px;
  border: 1px solid #e7e7e7;
  width: 100%;
}
.person-data__item {
  display: flex;
  align-items: center;
  gap: 13px;
}
.person-data__property {
  text-wrap: nowrap;
}

.comment__value-wrapper {
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
}
.comment__value {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 14px;
}

.add-info__container {
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-bottom: 34px;
}
.add-info__checkbox {
  position: absolute;
  left: 0;
  opacity: 0;
}
.add-info__checkbox + label {
  position: relative;
  padding-left: 55px;
  cursor: pointer;
}
.add-info__checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}
.add-info__checkbox + label:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  top: 7px;
  left: 6px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.add-info__checkbox:not(:checked) + label:after {
  opacity: 0;
}
.add-info__checkbox:checked + label:after {
  opacity: 1;
}
.add-info__checkbox:disabled + label:before {
  opacity: 0.3;
}
.add-info__checkbox:disabled + label:after {
  opacity: 0.3;
}
.add-info__checkbox:disabled + label {
  opacity: 0.3;
}

.program-choice__radio {
  display: flex;
}
.program-choice__radio input[type=radio] {
  display: none;
}
.program-choice__radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 45px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
          user-select: none;
}
.program-choice__radio label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  left: 0;
  bottom: -6px;
}
.program-choice__radio input[type=radio]:checked + label::before {
  width: 30px;
  height: 30px;
  background: url("/img/radiobutton-checked.svg") 0 0 no-repeat;
  background-position: center;
}
.program-choice__radio label:hover::before {
  border: 1px solid #bababa;
}
.program-choice__radio input[type=radio]:disabled + label::before {
  filter: grayscale(100%);
}

.footer__contacts {
  background-color: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */