@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline-offset: -1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.subtitle {
  font: $font-sms-hnl-ff2;
  text-transform: uppercase;
  color: $color-text-special;

  @media (min-width: $tablet-width) {
    font: $font-sml-hnh-ff2;
  }
}

.title {
  font: $font-sxxl-hg-ff2;
  color: $color-text-special;

  @media (min-width: $tablet-width) {
    font: $font-s3xl-h3xh-ff2;
    text-align: left;
    margin-top: 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: $color-text-special;
}

.body {
  font-family: $ff1, "Arial", sans-serif;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    position: relative;
  }
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.price::after {
  content: " \20BD";
}
