@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline-offset: -1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.subtitle {
  font: $font-sms-hnl-ff2;
  text-transform: uppercase;
  color: $color-text-special;

  @media (min-width: $tablet-width) {
    font: $font-sml-hnh-ff2;
  }
}

.title {
  font: $font-sxxl-hg-ff2;
  color: $color-text-special;

  @media (min-width: $tablet-width) {
    font: $font-s3xl-h3xh-ff2;
    text-align: left;
    margin-top: 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: $color-text-special;
}

.body {
  background-color: $background-body-1;
  font-family: $ff1;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    position: relative;
  }
}

.button {
  background-color: $background-button;
  color: $color-text-secondary;
  font: $font-sms-hnh-ff2;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  width: 100%;
  min-height: 40px;
  padding: 10px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: $background-button-hover;
}

.button:active {
  color: $color-text-secondary-hover;
}

.image {
  max-width: 100%;
  height: auto;
}

.price::after {
  content: " \20BD";
}

input:user-invalid {
  border: $border-input-invalid;
}

input:focus {
  border: $border-input-focus;
  border-radius: 0;
}

input:focus ~ svg {
  fill: #68b738;
}

input:hover {
  border: $border-input-hover;
  border-radius: 0;
}

.social-button:hover svg,
.footer__academy-logo-image:hover svg {
  fill: #68b738;
}

.social-button:focus svg,
.footer__academy-logo-image:focus svg {
  fill: #68b738;
}

.social-button:active svg,
.footer__academy-logo-image:active svg {
  opacity: 0.3;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
  display: block;
}

.header-navigation--nojs .header-navigation__toggle {
  display: none;
}

.header-navigation--nojs .header-navigation__list {
  position: static;
  min-height: 0;
}

.header-navigation--nojs .header-navigation__item {
  display: block;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 362px;
  position: relative;
  height: 0;

  @media (min-width: $desktop-width) {
    padding-bottom: 400px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 400px;
  }
}

.map-responsive::before {
  content: "";
  position: absolute;
  width: 57px;
  height: 53px;
  top: 139px;
  left: 134px;
  background-image: url("../img/map-pin-mobile.png");
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 106px;
    top: 146px;
    left: 333px;
    background-image: url("../img/map-pin-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 113px;
    height: 106px;
    top: 131px;
    left: 908px;
  }
}
