.owner-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;

  &__item {
    display: flex;
    align-items: center;
    gap: 13px;
    position: relative;
  }

  &__property {
    text-align: center;
    text-wrap: nowrap;
  }

  &__value {
    padding-top: 14px;
    padding-left: 15px;
    padding-bottom: 14px;
    border: 1px solid #e7e7e7;
    width: 100%;
    font-family: $title-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__email::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/email-owner.svg");
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  &__tel::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/tel-owner.svg");
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }
}
