.program-choice {
  &__radio {
    display: flex;
    margin-bottom: 13px;
  }

  &__radio input[type="radio"] {
	  display: none;
 }

  &__radio label {
	  display: inline-block;
	  cursor: pointer;
	  position: relative;
	  padding-left: 45px;
	  margin-right: 0;
	  line-height: 18px;
	  user-select: none;
 }

  &__radio label::before {
	  content: "";
	  display: block;
	  width: 30px;
	  height: 30px;
	  position: absolute;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
	  left: 0;
    bottom: -6px;
  }

  &__radio input[type="radio"]:checked + label:before {
	  background: url("/img/radiobutton-checked.svg") 0 0 no-repeat;
    background-position: center;
  }

  &__radio label:hover::before {
	  border: 1px solid #bababa;
  }

  &__radio input[type="radio"]:disabled + label::before {
	  filter: grayscale(100%);
  }
}
