$title-font: "Oswald", sans-serif;
$content-font: "Lato", sans-serif;
$block-width: 280px;
$color-text-primary: #444444;
$color-text-secondary: #ffffff;
$color-subtitle-special: #111111;
$color-text-special: #000000;
$background-body: #ffffff;
$background-button:#68b738;
$background-button-show-all: #f2f2f2;
$background-block: #f2f2f2;
$background-block-example:#eaeaea;
$background-block-special: #68b738;
$background-footer:#f2f2f2;
$border-person-data: 1px solid #e7e7e7;
$border-owner-contacts: 1px solid #cdcdcd;
$border-comment: 1px solid #e7e7e7;
$border-checkbox: 1px solid #cdcdcd;
$border-program-choice:1px solid #cdcdcd;
$border-catalog-item: 1px solid #ebebeb;
$border-extra-products: 1px solid #cdcdcd;
$border-block: 1px solid #d9d9d9;
$border-example-item: 1px solid #cdcdcd;
$border-extra-products__title: 1px solid #ebebeb;
$border-navigation__link: 1px solid #e6e6e6;



