$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$ff1: "Lato", sans-serif;
$ff2: "Oswald", sans-serif;
$block-width: 320px;
$font-sxs-hxl-ff1: 12px/12px "Lato", sans-serif;
$font-sxs-hnl-ff1: 12px/16px "Lato", sans-serif;
$font-ss-hl-ff1: 14px/14px "Lato", sans-serif;
$font-ss-hn-ff1: 14px/18px "Lato", sans-serif;
$font-ss-hnh-ff1: 14px/20px "Lato", sans-serif;
$font-sms-hn-ff1: 16px/18px "Lato", sans-serif;
$font-sms-hnh-ff1: 16px/20px "Lato", sans-serif;
$font-sms-hh-ff1: 16px/24px "Lato", sans-serif;
$font-sml-hh-ff1: 20px/24px "Lato", sans-serif;
$font-ss-hl-ff2: 14px/14px "Oswald", sans-serif;
$font-ss-hnl-ff2: 14px/16px "Oswald", sans-serif;
$font-ss-hn-ff2: 14px/18px "Oswald", sans-serif;
$font-ss-hnh-ff2: 14px/20px "Oswald", sans-serif;
$font-sms-hnl-ff2: 16px/16px "Oswald", sans-serif;
$font-sms-hn-ff2: 16px/18px "Oswald", sans-serif;
$font-sms-hnh-ff2: 16px/20px "Oswald", sans-serif;
$font-sm-hh-ff2: 18px/24px "Oswald", sans-serif;
$font-sml-hnh-ff2: 20px/20px "Oswald", sans-serif;
$font-sml-hh-ff2: 20px/24px "Oswald", sans-serif;
$font-sml-hhh-ff2: 20px/26px "Oswald", sans-serif;
$font-sml-hxh-ff2: 20px/30px "Oswald", sans-serif;
$font-sl-hh-ff2: 24px/24px "Oswald", sans-serif;
$font-sxl-hxxh-ff2: 30px/37px "Oswald", sans-serif;
$font-sxxl-hxxh-ff2: 36px/36px "Oswald", sans-serif;
$font-sxxl-hg-ff2: 36px/40px "Oswald", sans-serif;
$font-s3xl-h3xh-ff2: 60px/60px "Oswald", sans-serif;
$color-text-primary: #444444;
$color-text-secondary: #ffffff;
$color-text-secondary-hover: rgba(255, 255, 255, 0.3);
$color-subtitle-special: #111111;
$color-text-special: #000000;
$color-icon: #666666;
$background-body: #ffffff;
$background-body-1: #e5e5e5;
$background-button:#68b738;
$background-button-hover: #5eaa2f;
$background-button-show-all: #f2f2f2;
$background-button-show-all-hover: #ebebeb;
$background-block: #f2f2f2;
$background-block-example:#eaeaea;
$background-block-special: #68b738;
$background-title-decor: #68b738;
$background-catalog-item: #cdcdcd;
$background-footer:#f2f2f2;
$border-person-data: 1px solid #e7e7e7;
$border-owner-contacts: 1px solid #cdcdcd;
$border-comment: 1px solid #e7e7e7;
$border-checkbox: 1px solid #cdcdcd;
$border-program-choice:1px solid #cdcdcd;
$border-program-choice-hover: 1px solid #bababa;
$border-catalog-item: 1px solid #ebebeb;
$border-catalog-item-all: 2px solid #f2f2f2;
$border-extra-products: 1px solid #cdcdcd;
$border-block: 1px solid #d9d9d9;
$border-example-item: 1px solid #cdcdcd;
$border-extra-products__title: 1px solid #ebebeb;
$border-navigation__link: 1px solid #e6e6e6;
$border-input-invalid: 2px solid #ff8282;
$border-input-focus: 2px solid #444444;
